@import url('https://fonts.cdnfonts.com/css/poppins');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*background da página*/
body {
  width: 100%;
  height: 100vh;
  background: url('./imagens/background.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  align-items: center;
  display: flex;
 
  /*display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;*/
  
}

/*posição dos elementos na navbar*/
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo{
  font-size: 2em;
  color:#4287f5;
  user-select: none;
}
/* formatação geral das 'abas' */
.navigation a{
  position: relative;
  font-size: 1.1em;
  color:black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
/* barra que aparece com o cursor*/
.navigation a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #4287f5;
  border-radius: 5px;
  transform-origin: right; /*movimentação de entrada da barra*/
  transform: scaleX(0);
  transition: transform .5s;
}
/*movimentação de saida da barra*/
.navigation a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}
/*visual do botão de login*/
.navigation .btnLogin-popup{
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #4287f5;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: black;
  font-weight: 500;
  margin-left: 40px;
}
/*botão com a ação do cursor*/
.navigation .btnLogin-popup:hover{
  background: #4287f5;
  color: white;
}
/*posiçãp dos elementos na página*/
.row{
  display: flex;
  height: 88%;
  align-items: center;
}
/*posiçãp do texto de apresentação*/
/*.col{
  flex-basis: 50%; 
}*/
h1, h2{
  color: #4287f5;
  font-size: 30px;
}
p{
  color: black;
  font-size: 11px;
  line-height: 15px;
}
/*visual do botão 'Explorar'*/
.btnExplorar{
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  transition: all .2s ease-in-out; 
}
.btnExplorar:hover{
  background: #4287f5;
  color: white;
  transform: scale(1.3);
  transition: transform .5s;
}


/*formato e posição dos cartões*/
.card{
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 2px ;
  background-position: center;
  background-size: cover;  
}
.card1{background-image: url(./imagens/lisboa.jpg);}
.card2{background-image: url(./imagens/novaYork.jpg);}
.card3{background-image: url(./imagens/japao.jpg);}
.card4{background-image: url(./imagens/chile.jpg);}

